
html,body{
 width: 100%; 
height: 100%; 
min-width:999px;
font-family: 思源黑体;
}

ul{
	list-style-type: none;
	top:40%; 
	position: relative;
}

a{
	
	font-size: 1vw;
	color: black;
	margin-left: 5%;
	text-decoration: none!important;
}
img{
	margin-right:5%;
}

.bodystyle{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.3;
	background:url("../image/background.jpg");
}

table{
	width: 100%;
	table-layout:fixed;
}

table th, table td {
text-align: center;
vertical-align: middle!important;
}

.aclass{
	font-size: 1vw;
	color:#F2920A;
	margin-left: 5%;
	text-decoration: none!important;
}

/*添加菜单变色*/
.newhomeMenu{
	height:8%;
	width: 100%;
    position: relative;
    background-color:#E9E9E9;
}

.fontStyleforTitle{
	top:25%;
	position: relative;
}

.button1 {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



.fontTable{
	top: 70px;
	left: 20px;
	font-size: 25px;
	color: #010502;
	font-weight: 700;
	position: relative;
}

.fontSale{
	top: 5%;
	left:65%;
	font-size: 2.3vw;
	color: #010502;
	font-weight: bold;
	position: relative;
	width: 30%;
}


.fontNum{
	top: 10%;
	left:70%;
	width: 20%;
	font-size: 55px;
	color: #F2920A;
	font-weight: 300;
	position: relative;
}

.fontTime{
	top: 30px;
	left: 22px;
	font-size: 15px;
	color: rgba(102, 102, 102, 0.29);
	font-weight: 300;
	position: relative;
}

.fontTitle{

	font-size: 35px;
	color: #F2920A;
	font-weight: 300;
	position: relative;
}

.menu{	
        width: 12%;
        height: 100%;
        background-color:#F4f4f1;
        float: left;
	    opacity: 0.9;
        position: relative;
        bottom: 0%;
}

.title{
	text-align: center;
	background-color: #F4f4f1;
	opacity: 0.8;
	width: 100%;
	height: 8%;
	font-size: 1.6vw;
	color: white;
	position: relative;

}


.menuInfo{
	height:8%;
	width: 100%;
    position: relative;
    background-color:#F4f4f1;
	opacity: 0.8;
}

.newhomeMenu{
	height:8%;
	width: 100%;
    position: relative;
    background-color:#e9e9e9;
}


.home{
	width:88%;
	height: 92%;
	background-color: #e9e9e9;
	float: left;
	position: relative;
}

.usernameModule{
	background-color: #F2920A;
	opacity: 0.8;
	width: 88%;
	height: 8%;
	font-size: 1vw;
	color: #FFFFFF;
	overflow: hidden;
	position: relative;
}

.homeTitle{
	height: 8%;
	width: 100%;
}

.titlefontStyle1{
	width: 100%;
	height:190px;
	color: #FFFFFF;
	text-align:left;
	
	font-size:1.2vw;
	position: relative;
	float: left;
	background: url("../image/topimg.jpg");
	z-index: 100;
}

.titlefontStyle2{
	width: 15%;
	height:50%;
	text-align:center;
	top: 25%;
	font-size:1.1vw;
	position: relative;
	float: left;
}
.belowBar{
	height: 92%;
	width: 100%;
	background-color:#CFCFD0;
	opacity: 0.8;
	z-index: -1;
}

.infoStyle{
 width: 80%;
 height: 10%;
 position: relative;
 text-align:center;
 font-size: 1vw;
}

.insertTable{
	 width: 95%;
	 height:90%;
	 left:2.5%;
	 position: relative;
	 border-style:solid;
	 border-color:#E9E9E9;
	 border-width: 1px;
	 background-color:white;
	 border-radius:5px;
 }

.leftTable{
	width: 40%;
	height:30%;
	left:7.5%;
	margin-top:-10%;
	position: relative;
	border-style:solid;
	border-color:#E9E9E9;
	border-width: 0px;
	background-color:white;
	border-radius:20px;
	float: left;
	z-index: 999;
}


.rightTable{
	width: 40%;
	height:30%;
	margin-top:-10%;
	left:12.5%;
	position: relative;
	float: left;
	border-style:solid;
	border-color:#E9E9E9;
	border-width: 0px;
	background-color:white;
	border-radius:20px;
	float: left;
	z-index: 999;
}




.belowTable{
	width: 85%;
	height:55%;
	margin-top:1%;
	left:7.5%;
	position: relative;
	border-style:solid;
	border-color:#E9E9E9;
	border-width: 0px;
	background-color:white;
	border-radius:15px;
	z-index: 999;
}

.charts{
	width:100%;
	height:95%;
	top: 8%;
	left:28.5%;
}

.salesDataStyle{
	width: 60%;
	position: left;
	height: 20%;
	margin-left:10%;
	border-radius: 15px;
	border-style: solid;
	border-color: #E9E9E9;
	text-align: center;
}

.salesTableStyle{
	width: 60%;
	position: left;
	height: 60%;
	margin-top: 3%;
	margin-left:10%;
	border-style: solid;
	border-color: #E9E9E9;
}


.logout{
	 height:70%; 
	 top:30%; 
	 width:13%; 
	 left:87%;
	 float:right;
	 position: absolute;
}


.fontModuleStyle1{
	position: relative;float: left;left:20%;
}

.tableTitle{
	width: 18%;
	height: 10%;
	position: relative;
	float: left;
}

.selectModuleStyle{
	width: 85%;
	left:12.5%;
	top:25%;
	height:65%;
	position: relative;
}

.tableTitleforButton{
	width: 10%;
	height: 10%;
	position: relative;
	float: left;
}

.addButtonStyle{
	width: 70%;
	left:50%;
	top:25%;
	height:65%;
	position: relative;
	float:left;
	border-radius:100px;
	border-color:rgba(242, 146, 10, 0.59);
	background-color:#FFFFFF;
	color: rgba(242, 146, 10, 0.59);
}

.importButtonStyle{
	width:70%;
	left:60%;
	top:25%;
	height:65%;
	float: left;
	position: relative;
	border-radius:100px;
	background-color:rgba(242, 146, 10, 0.59);
	color:#FFFFFF;
}

.tableBody{
	width: 98%;
	left: 1%;
	top:5%;
	height: 80%;
	position: relative;
	float: left;
	border:solid 1px #E9E9E9;
	border-radius:5px;

}

.copyright{
    position: absolute; 
    bottom: 0;
    left: 40%; 
     width: 20%;
    text-align: center;

}

.fontModuleStyle2{
	width: 50%;float: left;height: 40%;
}

.fontTitleStyle{
margin-left: 2%;
}

.crFont{
    color:rgba(0,0,0,0.45);
    font-size:0.9vw;
}