<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta  content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta  name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
   <title>主页</title>
   <link rel="stylesheet" type="text/css" href="./css/home.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 
	 <link href="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" rel="stylesheet">
	 
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/jquery-form.js"></script>
	<script src="js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="js/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
   <script src="js/metisMenu.min.js"></script>
<!-- DataTables JavaScript -->
   <script src="js/dataTables.bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
   <script src="js/sb-admin-2.js"></script>
   <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./javascript/home.js"></script>
	<script type="text/javascript" src="./js/echarts-all-3.js"></script>
<!--	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>-->

<style>
    @import url(./css/home.css);
</style>

</head>


<body>


	    <!--左侧菜单栏-->

	<div id="menu" class="menu">
		<div class="pic">
			<img src="image/BMS.png" width="170" height="80" >
		</div>

		<div class="menuInfo" id="homeMenuDiv">
			<ul  id="homeMenu">
				<li><a href="/home">
					<img  src="image/home.png" width="24">
					主页</a>
				</li>
			</ul>
		</div>

		<div id="insert" class="menuInfo">
			<ul id="insertMenu">
				<li><a href="/add">
					<img src="image/insert.png" width="22">
					销售录入</a>
				</li>
			</ul>
		</div>

        <div id="search" class="menuInfo">
			<ul id="selectMenu">
				<li><a href="/find">
					<img src="image/table.png" width="23" height="21">
				报表查询</a>
				<li>
			</ul>
		</div>
	</div>
		 <!--用户名称栏 固定-->
		<div class="usernameModule">
            <span class="logout" th:text="${session.username.name}">
			</span>
			<a href="/logout" class="logout">  <img src="image/logout.png" width="20" /> </a>

	    </div>

	<!--home主页-->
		<div id="home" class="home">

				<span class="titlefontStyle1" >
<!--					<br><p> &nbsp 系统/<b>主页</b></p>-->
					<br><p> &nbsp <b>主页</b></p>
				</span>

				<div style="float:left" class="leftTable">
					<div class="fontTable">债券销售总额（元）</div>
					<div class="fontNum" th:text="${totalSales}">7500</div>
<!--					<div class="fontTime">截止5分钟前 </div>-->
				</div>

				<div style="float:left" class="rightTable">
					<div class="fontTable">销售记录（条）</div>
					<div class="fontNum" th:text="${totalRecords}">7</div>
<!--					<div class="fontTime">截止5分钟前 </div>-->
				</div>

				<div style="float:left" class="belowTable">
					<div class="fontSale">债券销售金额曲线图</div>
					<div id="quantity-bar-chart" class="charts"></div>
				</div>

   			 <div class="copyright">
         		 <b class="crFont"> copyright©NiubilityTeam3</b>
   			 </div>
   		<!-- </div> -->
</div>

			<script>

                function changChick(target){
                    $.each($(".changChick"), function() {
                        $(this).removeClass("bg-light-blue");
                    });
                    $(target).addClass("bg-light-blue");
                }



                var qbeChart = echarts.init(document.getElementById("quantity-bar-chart"));
                //发起ajax请求，向后台获取数据，填充数组


                //使用数组填充图表配置项Option
                var qbeOption = {
                    xAxis: {
                        name: '日期',
                        type: 'category',
                        data: ["01/11","01/12","01/13","01/14","01/15","01/16","01/17"]
                    },
                    yAxis: {
                        name: '单位/元',
                        type: 'value',
                        data: [0,500,1000,1500,2000,2500,3000,3500,4000,4500,5000],
                    },
                    series: [{
                        data: [3500,2500,2700,1000,1500,3000,4000],
                        type: 'line',
                        itemStyle:{
                            normal:{
                                color:'#f2920a',
                                lineStyle:{
                                    color:'#f2920a' //折线颜色
                                }
                            }
                        }

                    }]
                };
                //使用指定的配置项来设置图表，从而显示图表数据
                qbeChart.setOption(qbeOption);

			</script>

    
</body>
</html>