<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.dao.BondMapper">


    <sql id="insertFields">
            bonds_name, sales_name, amount, created_at, updated_at
    </sql>

    <sql id="selectFields">
            id, bonds_name, sales_name, amount, created_at, updated_at
    </sql>


    <select id="selectBondByName" resultType="DemoBondsSalesRecord">
        select <include refid="selectFields"></include>
        from demo_bonds_sales_record
        where sales_name = #{salesName} and bonds_name = #{bondsName}
    </select>

    <select id="selectBondById" resultType="DemoBondsSalesRecord">
        select <include refid="selectFields"></include>
        from demo_bonds_sales_record
        where id = #{id}
    </select>

    <select id="selectBonds" resultType="DemoBondsSalesRecord">
        select <include refid="selectFields"></include>
        from demo_bonds_sales_record
        <where>
            <if test="salesName != ''">
                sales_name = #{salesName}
            </if>
            <if test="bondsName != ''">
                and bonds_name = #{bondsName}
            </if>
            <if test="stime != null">
                and created_at > #{stime}
            </if>
            <if test="etime != null">
                and #{etime} > created_at
            </if>
        </where>

        ORDER BY created_at asc

    </select>

    <select id="selectRecent" resultType="DemoBondsSalesRecord">
        select <include refid="selectFields"></include>
        from demo_bonds_sales_record
        ORDER BY created_at DESC
        limit 10
    </select>

    <select id="countTotalRecords" resultType="Integer">
        select count(*)
        from demo_bonds_sales_record
    </select>

    <select id="countTotalSales" resultType="Integer">
        select sum(amount)
        from demo_bonds_sales_record
    </select>

    <insert id="insertBond" parameterType="DemoBondsSalesRecord">
        insert into demo_bonds_sales_record(<include refid="insertFields"></include>)
        --         取值是取实体类的字段
        values(#{bondsName},#{salesName},#{amount},#{createdAt},#{updatedAt})
    </insert>

    <update id="updateUserStatus">
        update demo_user set status = #{status} where id = #{id}
    </update>

</mapper>